<%- include('../partials/header'); %>

<h2>Zamówienie złożone pomyślnie!</h2>

<% if (message) { %>
  <p><%= message %></p>
<% } %>

<a href="/">Powrót do strony głównej</a>

<%- include('../partials/footer'); %>